body {
  margin: 0;
  font-family: "motiva-sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080A11;
  color: white;
  padding-top: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 0 10%;
}

/* nav */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10%;
  background-color: #080A11;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  box-sizing: border-box;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-right: 60px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.nav-links li {
  padding: 10px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: .3s ease;
}

.nav-links a:hover {
  transition: .3s ease;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right a {
  padding: 10px 15px;
  background-color: #2C3144;
  transition: .3s ease;
}

.navbar a {
  text-decoration: none;
  color: white;
}


.App {
  padding-top: 60px;
}

/* header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: 
    linear-gradient(to left, rgba(0, 0, 0, 0.1), #080A11),
    url("https://i.imgur.com/KNi5GLA.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.header .container h1, .header .container p {
  margin: 0;
  color: white;
}

.header .container h1 {
  font-size: 60px;
}

.header .container p {
  margin-bottom: 15px;
}

.search-bar {
  background-color: transparent;
  padding: 5px;
  border: solid 1px white;
  width: 80%;
  color: white;
}

.search-btn {
  padding: 5px;
  background-color: white;
  border: none;
  color: #080A11;
  margin-left: 10px;
  width: 15%;
}

/* recommended */

.recommended {
  margin-top: 80px;
}

/* footer */

.footer {
  position: relative;
  top: 1000px;
}